## Deliverable 3. Create a Travel Itinerary Map.

In [73]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np
import gmaps.datasets
import itertools

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [74]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,8,Sabzawār,IR,81.39,clear sky,36.2126,57.6819,پزشکی قانونی سبزوار
1,14,Keti Bandar,PK,79.68,overcast clouds,24.1447,67.4497,Haji laloo memon house
2,31,Atuona,PF,77.77,light rain,-9.8000,-139.0333,Villa Enata
3,32,Puerto Carreño,CO,79.59,broken clouds,6.1890,-67.4859,Casa Hotel Victoria
4,38,Butaritari,KI,83.73,broken clouds,3.0707,172.7902,Isles Sunset Lodge

In [75]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [76]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(marker_layer)

# 4b. Display the figure

fig

Figure(layout=FigureLayout(height='420px'))

In [77]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"]=="Itarema"]
vacation_end = vacation_df.loc[vacation_df["City"]=="Itarema"]
vacation_stop1 = vacation_df.loc[vacation_df["City"]=="Acaraú"]
vacation_stop2 = vacation_df.loc[vacation_df["City"]=="Beneditinos"] 
vacation_stop3 = vacation_df.loc[vacation_df["City"]=="Touros"] 

vacation_stop1

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
100,336,Acaraú,BR,79.39,clear sky,-2.8856,-40.12,castelo pizzaria

In [78]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
end = start 
stop1 = vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0]
end

(-2.9248, -39.9167)

In [79]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

# Latitude-longitude pairs

#start = end = (-2.9248, -39.9167)
#stop1 = (-2.8856, -40.12)
#stop2 = (-5.45  , -42.3667)
#stop3 = (-5.1989, -35.4608)

fig = gmaps.figure(center=(-3.3, -41), zoom_level=6)

vacation_brazil = gmaps.directions_layer(start, end, waypoints=[stop1, stop2, stop3], travel_mode = 'DRIVING')

fig.add_layer(vacation_brazil)

fig

Figure(layout=FigureLayout(height='420px'))

In [80]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.

itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,39,Itarema,BR,79.16,few clouds,-2.9248,-39.9167,"Sea Lounge! Bar, Club & Restaurant"
1,336,Acaraú,BR,79.39,clear sky,-2.8856,-40.1200,castelo pizzaria
2,251,Beneditinos,BR,81.73,scattered clouds,-5.4500,-42.3667,Pousada e Churrascaria Cabo Miguel
3,150,Touros,BR,77.90,scattered clouds,-5.1989,-35.4608,INN NEW HORIZON

In [81]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""


# 10a Get the data from each row and add it to the formatting template and store the data in a list.
itinerary_hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
itinerary_locations = itinerary_df[["Lat", "Lng"]]

In [82]:
# 11a. Add a marker layer for each city to the map.

figure_layout = {
    'width': '950px',
    'height': '600px',
    'border': '1px solid black',
    'padding': '1px'
}


fig = gmaps.figure(center=(-3.3, -39), zoom_level=7, layout=figure_layout)

marker_layer = gmaps.marker_layer(itinerary_locations, info_box_content=itinerary_hotel_info)

fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(border='1px solid black', height='600px', padding='1px', width='950px'))